
services:
  app:
    build:
      context: .
    image: laravel-balancer-app
    # O Nginx se conectará usando o nome do serviço 'app'
    # Os containers serão nomeados sequencialmente: app-1, app-2, app-3, ...
    expose:
      - 9000
    depends_on:
      mysql:
        condition: service_healthy

  mysql:
    image: mysql:8.0
    container_name: mysql-balancer
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: password
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}"]
      timeout: 20s
      retries: 10

  nginx:
    image: nginx:alpine
    container_name: nginx-balancer
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro  # Mapeia o arquivo de configuração do Nginx
      - ./app:/var/www/html                 # Mapeia o código (se necessário)
    ports:
      - "80:80"
    depends_on:
      - app # Nginx deve esperar a app subir

volumes:
  mysql_data: